@import 'woocommerce.css';
/* Import WooCommerce styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: starter Tailwind utilities */
body {
    @apply bg-white text-gray-900 font-sans;
}
